:root {
    --ck-color-base-foreground: 								hsl(0, 0%, 40%);
    --ck-color-base-background: 								hsl(0, 0%, 100%);
    --ck-color-base-border: 									hsl(0, 0%, 77%);

    --ck-color-base-border-separator:							hsl(0, 0%, 30%);

    --ck-color-base-action: 									hsl(104, 44%, 48%);
    --ck-color-base-focus: 										hsl(209, 92%, 70%);
    --ck-color-base-text: 										hsl(0, 0%, 100%);
    --ck-color-base-active: 									hsl(208, 88%, 52%);
    --ck-color-base-active-focus:								hsl(208, 88%, 47%);
    --ck-color-base-error:										hsl(15, 100%, 43%);
    --ck-color-split-button-hover-background: 					hsl(0, 0%, 40%);
    --ck-color-split-button-hover-border: 						hsl(0, 0%, 30%);

    --ck-insert-table-dropdown-box-border-active-color:			hsl(0, 0%, 50%);
    --ck-insert-table-dropdown-box-active-background:			hsl(0, 0%, 78%);

    --ck-color-widget-hover-border: 							hsl(0, 50%, 43%);

    /* -- Generic colors ------------------------------------------------------------------------ */

    --ck-color-focus-border: 									hsl(0, 0%, 80%);
    --ck-color-focus-shadow:									hsla(209, 0%, 72%,.5);
    --ck-color-focus-disabled-shadow:							hsla(209, 0%, 72%,.3);
    --ck-color-focus-error-shadow:								hsla(9,100%,56%,.3);
    --ck-color-text: 											var(--ck-color-base-text);
    --ck-color-shadow-drop: 									hsla(0, 0%, 0%, 0.15);
    --ck-color-shadow-drop-active:								hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: 									hsla(0, 0%, 0%, 0.1);

    /* -- Buttons ------------------------------------------------------------------------------- */

    --ck-color-button-default-background: 						transparent;
    --ck-color-button-default-hover-background: 				hsl(0, 0%, 48%);
    --ck-color-button-default-active-background: 				hsl(0, 0%, 40%);
    --ck-color-button-default-active-shadow: 					hsl(0, 0%, 75%);
    --ck-color-button-default-disabled-background: 				transparent;

    --ck-color-button-on-background: 							hsl(0, 0%, 48%);
    --ck-color-button-on-hover-background: 						hsl(0, 0%, 55%);
    --ck-color-button-on-active-background: 					hsl(0, 0%, 73%);
    --ck-color-button-on-active-shadow: 						hsl(0, 0%, 63%);
    --ck-color-button-on-disabled-background: 					hsl(0, 0%, 40%);

    --ck-color-button-action-background: 						var(--ck-color-base-action);
    --ck-color-button-action-hover-background: 					hsl(104, 44%, 43%);
    --ck-color-button-action-active-background: 				hsl(104, 44%, 41%);
    --ck-color-button-action-active-shadow: 					hsl(104, 44%, 36%);
    --ck-color-button-action-disabled-background: 				hsl(104, 44%, 58%);
    --ck-color-button-action-text: 								var(--ck-color-base-background);

    --ck-color-button-save: 									hsl(120, 100%, 27%);
    --ck-color-button-cancel: 									hsl(15, 100%, 43%);

    --ck-color-switch-button-off-background:					hsl(0, 0%, 69%);
    --ck-color-switch-button-on-background:						hsl(0, 0%, 40%);
    --ck-color-switch-button-inner-background:					hsl(0, 0%, 69%);

    /* -- Dropdown ------------------------------------------------------------------------------ */

    --ck-color-dropdown-panel-background: 						hsl(0, 0%, 40%);
    --ck-color-dropdown-panel-border: 							var(--ck-color-base-border);

    /* -- Input --------------------------------------------------------------------------------- */

    --ck-color-input-background: 								hsl(0, 0%, 70%);
    --ck-color-input-border: 									hsl(0, 0%, 55%);
    --ck-color-input-error-border:								var(--ck-color-base-error);
    --ck-color-input-text: 										var(--ck-color-base-text);
    --ck-color-input-disabled-background: 						hsl(0, 0%, 95%);
    --ck-color-input-disabled-border: 							hsl(0, 0%, 55%);
    --ck-color-input-disabled-text: 							hsl(0, 0%, 36%);

    /* -- List ---------------------------------------------------------------------------------- */

    --ck-color-list-background: 								hsl(0, 0%, 40%);
    --ck-color-list-button-hover-background: 					hsl(0, 0%, 48%);
    --ck-color-list-button-on-background: 						hsl(0, 0%, 55%);
    --ck-color-list-button-on-background-focus: 				hsl(0, 0%, 48%);
    --ck-color-list-button-on-text:								hsl(0, 0%, 100%);

    /* -- Panel --------------------------------------------------------------------------------- */

    --ck-color-panel-background: 								hsl(0, 0%, 40%);
    --ck-color-panel-border: 									var(--ck-color-base-border);

    /* -- Toolbar ------------------------------------------------------------------------------- */

    --ck-color-toolbar-background: 								var(--ck-color-base-foreground);
    --ck-color-toolbar-border: 									var(--ck-color-base-border);

    /* -- Tooltip ------------------------------------------------------------------------------- */

    --ck-color-tooltip-background: 								hsl(0, 0%, 30%);
    --ck-color-tooltip-text: 									hsl(0, 0%, 100%);

    /* -- Engine -------------------------------------------------------------------------------- */

    --ck-color-engine-placeholder-text: 						hsl(0, 0%, 44%);

    /* -- Upload -------------------------------------------------------------------------------- */

    --ck-color-upload-bar-background:		 					hsl(209, 92%, 70%);
    --ck-color-upload-infinite-background:		 				hsla(0, 0%, 0%, 0.1);

    /* -- Link -------------------------------------------------------------------------------- */

    --ck-color-link-default:									hsl(240, 100%, 47%);
    --ck-color-link-selected-background: 						hsla(201, 100%, 56%, 0.1);
}

/* New Separator Color */
.ck.ck-toolbar__separator{
    background: var(--ck-color-base-border-separator);
}

/* Customized Headings */
.ck.ck-heading_heading1 {
    font-size: 24px;
}

.ck.ck-heading_heading2 {
    font-size: 18px;
}

.ck.ck-heading_heading3 {
    font-size: 16px;
}
